html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.All {
  background-image: url('./home-background.png');
  background-size: cover;
  background-position: center;
}

.movie-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 35px;
  max-width: 1200px; 
  margin: 0 auto; 
}

.Card {
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(210, 51, 51, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  height: 450px;
}

.Card:hover {
  transform: scale(1.05);
  background-color: rgba(23, 14, 75, 0.396);
}

.card-info {
  padding: 20px;
  text-align: center;
}

.card-info p {
  font-size: 20px; 
  margin: 20px 0; 
  color: #ffffff; 
  font-style: italic;
  text-decoration:aquamarine;
}
.card-info img {
  max-width: 100%;
  border-radius: 8px;
  height: 300px;
  border-radius: 30px;
}

.Header {
  background-color: #333333a1; 
  height: 80px; 
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-around;
  padding: 0 20px;
  gap: 30px;
}

.Header h1 {
  color: #ffffff; 
  margin: 0%;
  font-size: 18px; 
}

.Header img {
  height: 60px; 
  width: 60px;
  border: 2px solid white;
}

.Header .Header-nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  gap: 30px;
}

.Search{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0 5px;
  margin-left: 5px;
}

.Searchbar{
  height: 20px;
  text-align: left;
  padding-left: 5px;
  font-size: large;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  font-family:'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
}

.Errormsg{
  color: white;
  align-items: center;
  text-align: center;
}

.Singlebackground{
  background-image: url('./home-background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.movie-card{
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-top: 80px;
}

.singleimage{
  border-radius: 20px;
  border: 10px dotted white;
  margin-right: 50px;
}

.card-content{
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 20px;
}

.Singleword{
  color: white;
  font-weight: 700;
  font-size:1.5em;
  margin-top: 20px;
}

.single-button{
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 50px;
}

.public-button{
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  transition: background-color 0.2s ease, color 0.3s ease;
  background-color: black;
}

.public-button:hover{
  background-color: white;
  color: black;
}

.public-background{
  
  background-image: url('./home-background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.user{
  background-color: rgba(146, 146, 146, 0.501);
}

.loginPage{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/originals/97/4a/0b/974a0bc3ef606c46538f46bfe41055ce.jpg");
  background-size: cover;
  background-position: center;
  background-color: #bca9a9;
}

.container {
  background-color: rgba(0, 0, 0, 0.768);
  padding: 30px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  width: 450px;
  max-width: 420px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.container h1{
  font-size: 24px;
  margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.container input[type="email"],
input[type="password"], input[type="text  "] {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
}

.container button[type="submit"] {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

.container a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
}

.signinPage{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/originals/97/4a/0b/974a0bc3ef606c46538f46bfe41055ce.jpg");
  background-size: cover;
  background-position: center;
  background-color: #bca9a9;

}

.PublicPlaylist{
  background-image: url('./home-background.png');
  background-size: cover;
  background-position: center;
  height:100em;
}

.PublicPlaylist h1{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

.PublicPlaylist ul{
  margin: 0%;
}

.publiclist{
  border: 2px solid white;
  display: flex;
  margin: 20px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.publiclist .list-poster{
  height: 150px;
  width: 150px;
  border: 2px solid rgb(0, 179, 255);
  border-radius: 30px;
}

.publicContent{
  margin-left: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.noMovie{
  color: white;
  align-items: center;
  text-align: center;
}

.delete{
  background-color: white;
  border: none;
  height: 50px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
